<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <form method="post">
        {% csrf_token %}
        <p><label for="client_id">Client ID:</label>
        <input type="text" name="client_id" required value="{{ form.client_id.value|default:'' }}"></p>
        <p><label for="tenant_id">Tenant ID:</label>
        <input type="text" name="tenant_id" required value="{{ form.tenant_id.value|default:'' }}"></p>
        <p><label for="client_secret">Client Secret:</label>
        <input type="password" name="client_secret" required value="{{ form.client_secret.value|default:'' }}"></p>
        <p><label for="smtp_host">SMTP Host:</label>
        <input type="text" name="smtp_host" required value="{{ form.smtp_host.value|default:'' }}"></p>
        <p><label for="smtp_port">SMTP Port:</label>
        <input type="number" name="smtp_port" required value="{{ form.smtp_port.value|default:'' }}"></p>
        <p><label for="smtp_user">SMTP User:</label>
        <input type="text" name="smtp_user" required value="{{ form.smtp_user.value|default:'' }}"></p>
        <p><label for="smtp_password">SMTP Password:</label>
        <input type="password" name="smtp_password" required value="{{ form.smtp_password.value|default:'' }}"></p>
        <p><label for="key_identifier">Key Identifier:</label>
        <input type="text" name="key_identifier" required value="{{ form.key_identifier.value|default:'' }}"></p>

        <!-- New fields for Azure Blob Storage -->
        <p><label for="storage_account_name">Storage Account Name:</label>
        <input type="text" name="storage_account_name" required value="{{ form.storage_account_name.value|default:'' }}"></p>
        <p><label for="container_name">Container Name:</label>
        <input type="text" name="container_name" required value="{{ form.container_name.value|default:'' }}"></p>

        <p><label for="email_use_tls">Use TLS:</label>
        <input type="checkbox" name="email_use_tls" {% if form.email_use_tls.value %}checked{% endif %}></p>
        <p><label for="email_use_ssl">Use SSL:</label>
        <input type="checkbox" name="email_use_ssl" {% if form.email_use_ssl.value %}checked{% endif %}></p>

        <button type="submit">Validate Key Then Establish Encryption</button> <!-- Updated button text -->
    </form>

    <!-- Buttons for backup and restore -->
    <form method="post" action="{% url 'backup_now' %}">
        {% csrf_token %}
        <button type="submit">Backup Now</button>
    </form>
    <form method="post" action="{% url 'restore_from_backup' %}">
        {% csrf_token %}
        <button type="submit">Restore from Latest Backup</button>
    </form>

    <a href="{% url 'home_it' %}"><button type="button">Back</button></a>
</body>
</html>