<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <form method="post">
        {% csrf_token %}
        <p><label for="client_id">Client ID:</label>
        <input type="text" name="client_id" required value="{{ form.client_id.value|default:'' }}"></p>
        <p><label for="tenant_id">Tenant ID:</label>
        <input type="text" name="tenant_id" required value="{{ form.tenant_id.value|default:'' }}"></p>
        <p><label for="client_secret">Client Secret:</label>
        <input type="password" name="client_secret" required value="{{ form.client_secret.value|default:'' }}"></p>
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'home_it' %}"><button type="button">Back</button></a>
</body>
</html>